@font-face {
  font-family: 'iconfont';  /* project id 2243001 */
  src: url('//at.alicdn.com/t/font_2243001_tg474qpjhd.eot');
  src: url('//at.alicdn.com/t/font_2243001_tg474qpjhd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2243001_tg474qpjhd.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2243001_tg474qpjhd.woff') format('woff'),
  url('//at.alicdn.com/t/font_2243001_tg474qpjhd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2243001_tg474qpjhd.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e867";
}

.icon-zhengque:before {
  content: "\e88c";
}
.icon-jiahaocu:before {
  content: "\e612";
}

